// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
//@import "~flickity/dist/flickity.min.css";
@import '~owl.carousel/dist/assets/owl.carousel.min.css';
@import "~summernote/dist/summernote.css";


.jquery-accordion-menu, .jquery-accordion-menu * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 0;
}

.jquery-accordion-menu {
    position: relative;
}

@media (min-width: 992px) {
    .jquery-accordion-menu.collapse:not(.show) {
        display: block;
    }
}

.jquery-accordion-menu .jquery-accordion-menu-footer, .jquery-accordion-menu .jquery-accordion-menu-header {
    width: 100%;
    height: 50px;
    padding-left: 22px;
    float: left;
    line-height: 50px;
    font-weight: 600;
    color: #1b1e21;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 3px solid #dadada;
    background-color: #e9ecef;
}

.jquery-accordion-menu ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.jquery-accordion-menu ul li {
    width: 100%;
    display: block;
    float: left;
    position: relative
}

.jquery-accordion-menu ul > li:last-of-type {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

.jquery-accordion-menu ul li:last-child a {
    border-bottom: solid 3px #d3d3d3;
}

.jquery-accordion-menu ul li a {
    width: 100%;
    padding: 10px;
    float: left;
    text-decoration: none;
    color: #1b1e21;
    font-size: 13px;
    background: #fff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    -o-transition: color .2s linear, background .2s linear;
    -moz-transition: color .2s linear, background .2s linear;
    -webkit-transition: color .2s linear, background .2s linear;
    transition: color .2s linear, background .2s linear;
    line-height: 25px;

    &.open {
        .more {
            transform: rotateZ(45deg);
        }
    }
}

.jquery-accordion-menu > ul > li.active > a, .jquery-accordion-menu > ul > li:hover > a {
    color: #1b1e21;
    background: #efefef;
}

.jquery-accordion-menu > ul > li > a {
    border-bottom: solid 1px #d3d3d3;
}

.jquery-accordion-menu ul li a i {
    display: inline-block;
    width: 25px;
    height: 25px;
    float: left;
    line-height: 18px;
    font-size: 16px;
    text-align: left;
    background-size: 60%;
    margin-right: 5px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    border-radius: 50%;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

.jquery-accordion-menu ul li a .more {
    float: right;
    font-weight: 900;
    color: #6c757d;
    transition: all .2s;
}

.jquery-accordion-menu .submenu-indicator {
    float: right;
    right: 22px;
    position: absolute;
    line-height: 19px;
    font-size: 20px;
    -o-transition: transform .3s linear;
    -moz-transition: transform .3s linear;
    -webkit-transition: transform .3s linear;
    -ms-transition: transform .3s linear;
    color: #979797;
}

.jquery-accordion-menu ul ul.submenu .submenu-indicator {
    line-height: 16px
}

.submenu-indicator-minus {
    border-bottom: solid 1px #d3d3d3 !important;
}

.jquery-accordion-menu .submenu-indicator-minus > .submenu-indicator {
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.jquery-accordion-menu ul ul.submenu, .jquery-accordion-menu ul ul.submenu li ul.submenu {
    width: 100%;
    display: none;
    position: static
}

.jquery-accordion-menu ul ul.submenu li {
    clear: both;
    width: 100%
}

.jquery-accordion-menu ul ul.submenu li a {
    width: 100%;
    float: left;
    font-size: 11px;
    background: #e9ecef;
    border-top: none;
    position: relative;
    border-left: solid 6px transparent;
    -o-transition: border .2s linear;
    -moz-transition: border .2s linear;
    -webkit-transition: border .2s linear;
    transition: border .2s linear
}

.jquery-accordion-menu ul ul.submenu li:hover > a {
    border-left-color: #e2e2e2;
}

.jquery-accordion-menu ul ul.submenu > li > a {
    padding-left: 30px
}

.jquery-accordion-menu ul ul.submenu > li > ul.submenu > li > a {
    padding-left: 45px
}

.jquery-accordion-menu ul ul.submenu > li > ul.submenu > li > ul.submenu > li > a {
    padding-left: 60px
}

.jquery-accordion-menu ul li .jquery-accordion-menu-label, .jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
    min-width: 20px;
    padding: 1px 2px 1px 1px;
    position: absolute;
    right: 18px;
    top: 14px;
    font-size: 11px;
    font-weight: 800;
    color: #555;
    text-align: center;
    line-height: 18px;
    background: #f0f0f0;
    border-radius: 100%
}

.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
    top: 12px
}

.ink {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .3);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0)
}

.animate-ink {
    -webkit-animation: ripple .5s linear;
    -moz-animation: ripple .5s linear;
    -ms-animation: ripple .5s linear;
    -o-animation: ripple .5s linear;
    animation: ripple .5s linear
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5)
    }
}

@-moz-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5)
    }
}

@-o-keyframes ripple {
    100% {
        opacity: 0;
        -o-transform: scale(2.5)
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5)
    }
}

.blue.jquery-accordion-menu .jquery-accordion-menu-footer, .blue.jquery-accordion-menu .jquery-accordion-menu-header, .blue.jquery-accordion-menu ul li a {
    background: #4A89DC
}

.blue.jquery-accordion-menu > ul > li.active > a, .blue.jquery-accordion-menu > ul > li:hover > a {
    background: #3e82da
}

.blue.jquery-accordion-menu > ul > li > a {
    border-bottom-color: #3e82da
}

.blue.jquery-accordion-menu ul ul.submenu li:hover > a {
    border-left-color: #3e82da
}

.green.jquery-accordion-menu .jquery-accordion-menu-footer, .green.jquery-accordion-menu .jquery-accordion-menu-header, .green.jquery-accordion-menu ul li a {
    background: #03A678
}

.green.jquery-accordion-menu > ul > li.active > a, .green.jquery-accordion-menu > ul > li:hover > a {
    background: #049372
}

.green.jquery-accordion-menu > ul > li > a {
    border-bottom-color: #049372
}

.green.jquery-accordion-menu ul ul.submenu li:hover > a {
    border-left-color: #049372
}

.red.jquery-accordion-menu .jquery-accordion-menu-footer, .red.jquery-accordion-menu .jquery-accordion-menu-header, .red.jquery-accordion-menu ul li a {
    background: #ED5565
}

.red.jquery-accordion-menu > ul > li.active > a, .red.jquery-accordion-menu > ul > li:hover > a {
    background: #DA4453
}

.red.jquery-accordion-menu > ul > li > a {
    border-bottom-color: #DA4453
}

.red.jquery-accordion-menu ul ul.submenu li:hover > a {
    border-left-color: #DA4453
}

.white.jquery-accordion-menu .jquery-accordion-menu-footer, .white.jquery-accordion-menu .jquery-accordion-menu-header, .white.jquery-accordion-menu ul li a {
    background: #fff;
    color: #555
}

.white.jquery-accordion-menu > ul > li.active > a, .white.jquery-accordion-menu > ul > li:hover > a {
    background: #f0f0f0
}

.white.jquery-accordion-menu > ul > li > a {
    border-bottom-color: #f0f0f0
}

.white.jquery-accordion-menu ul ul.submenu li:hover > a {
    border-left-color: #f0f0f0
}

.white.jquery-accordion-menu ul ul.submenu li a {
    color: #f0f0f0
}

.white.jquery-accordion-menu > ul > li > a > .ink {
    background: rgba(0, 0, 0, .1)
}

.black.jquery-accordion-menu .jquery-accordion-menu-footer, .black.jquery-accordion-menu .jquery-accordion-menu-header, .black.jquery-accordion-menu ul li a {
    background: #292929
}

.black.jquery-accordion-menu > ul > li.active > a, .black.jquery-accordion-menu > ul > li:hover > a {
    background: #222
}

.black.jquery-accordion-menu > ul > li > a {
    border-bottom-color: #222
}

.black.jquery-accordion-menu ul ul.submenu li:hover > a {
    border-left-color: #222
}

ul.form-control {
    height: auto;
    min-height: calc(1.5em + .75rem + 2px);
    margin-bottom: 0
}

ul.form-control input {
    color: #495057
}

ul.form-control.disabled {
    background-color: #e9ecef
}

ul.form-control .badge {
    padding-left: 0;
    line-height: 1.5em
}

ul.form-control .badge button.close {
    font-size: 1.5em;
    line-height: .9em
}

ul.form-control .badge span.disabled {
    opacity: .65
}

ul.form-control.focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

ul.form-control.form-control-sm {
    min-height: calc(1.5em + .5rem + 2px)
}

ul.form-control.form-control-sm input {
    font-size: .875rem
}

ul.form-control.form-control-lg {
    min-height: calc(1.5em + 1rem + 2px)
}

ul.form-control.form-control-lg input {
    font-size: 1.25rem
}

.was-validated ul.form-control:valid, ul.form-control.is-valid {
    border-color: #28a745
}

.was-validated ul.form-control:valid.focus, ul.form-control.is-valid.focus {
    border-color: #28a745;
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .25)
}

.was-validated ul.form-control:invalid, ul.form-control.is-invalid {
    border-color: #dc3545
}

.was-validated ul.form-control:invalid.focus, ul.form-control.is-invalid.focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .25)
}

ul.dropdown-menu li .custom-control-input.disabled ~ .custom-control-label {
    color: #6c757d
}

/*# sourceMappingURL=BsMultiSelect.min.css.map */

.postcard {
    //min-width: 200px;
}

.postcard .image {
    height: 175px;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
}

.postcard p {
    font-weight: 600;
    height: 45px;
    overflow: hidden;
}

.postcard a {
    text-decoration: none !important;
}

.slider-wrap {
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    //.slider {
    //    width: 1000%;
    //}
}

.owl-carousel {
    .flickity-button:disabled {
        display: none;
    }

    .owl-nav.disabled {
        display: block;
    }

    .owl-prev {
        width: 15px;
        height: 100px;
        position: absolute;
        top: 20%;
        margin-left: 0px;
        display: block !important;
        border: 0px solid black;
        background: #f8fafc !important;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
        opacity: .9;
        &.disabled {
            display: none !important;
        }
    }

    .owl-next {
        width: 15px;
        height: 100px;
        position: absolute;
        top: 20%;
        right: 0px;
        display: block !important;
        border: 0px solid black;
        background: #f8fafc !important;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        opacity: .9;
        &.disabled {
            display: none !important;
        }
    }

    .owl-prev i, .owl-next i {
        transform: scale(1, 3);
        color: #b0b0b0;
    }

    //.owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
    //    background: #f8fafc;
    //    opacity: .9;
    //    height: 100%;
    //    width: 20px;
    //}
    //.owl-nav button.owl- {
    //    &next {
    //        right: 0;
    //        border-bottom-right-radius: 0;
    //        border-top-right-radius: 0;
    //    }
    //    &prev {
    //        left: 0;
    //        border-bottom-left-radius: 0;
    //        border-top-left-radius: 0;
    //    }
    //}
}

.owl-item  .postcard .image {
    height: 195px;
}
//.owl-item .postcard {
//    width: 300px !important;
//}

.page-background {
    -webkit-background-size: 130px !important;
    background-size: 130px !important;
}

@media (max-width: 1200px) {
    .postcard .image {
        height: 144px;
    }
    .slider .postcard .image {
        height: 194px;
    }
}

@media (max-width: 992px) {
    .postcard .image {
        height: 162px;
    }
    .slider .postcard .image {
        height: 215px;
    }
}

@media (max-width: 768px) {
    .postcard .image {
        height: 162px;
        background-size: contain !important;
    }
}

.buttons__order {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    text-decoration: none !important;

    *, *:hover {
        text-decoration: none !important;
    }
}

.buttons__btn {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden
}

.modal__social-icon {
    width: 15px;
    height: 15px;
    fill: #f9fafc;
}

.buttons__btn:hover .buttons__right:before {
    left: -1px
}

.buttons__btn_download .buttons__left {
    background-color: #619744;
}

.buttons__icon {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.buttons__icon svg {
    width: 25px;
    height: 25px;
    fill: #f9fafc;
}

.buttons__icon_padding {
    padding: 13px 20px;
    -webkit-transition: .3s;
    transition: .3s;
}

.buttons__btn_position {
    margin: 5px;
    border-radius: 6px
}

.buttons__btn_download {
    border-bottom: 3px solid #4c7635
}

.buttons__btn_download:active {
    border-bottom: 2px solid #4c7635
}

.buttons__btn_download .buttons__left {
    background-color: #619744
}

.buttons__btn_download .buttons__right:before {
    border-left-color: #619744
}

.buttons__btn_download .buttons__right {
    background-color: #76b852
}

.buttons__right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px 0 30px;
    color: #f9fafc;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    text-transform: uppercase;
    font-size: 16px;
    //font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.buttons__btn_download .buttons__right {
    background-color: #76b852;
}

.buttons__btn_send {
    background: #f87c64;
    border: none;
    padding: 0;
    border-bottom: 3px solid #cb4f37;
}

.buttons__btn_send .buttons__left {
    background-color: #f76042;
}

.buttons__btn_send .buttons__right {
    background-color: #f87c64;
}

.card {
    border-bottom: 3px solid #d3d3d3;
}

.top-menu {
    border-bottom: 3px solid #a22724;
}

.navbar-dark .navbar-nav .nav-link {
    text-shadow: 0px 2px 0px #a22724;
}

.navbar-dark .navbar-brand {
    font-weight: 900;
    text-shadow: 0px 2px 0px #a22724;
    letter-spacing: 1px;
}

h1 {
    letter-spacing: .5px;
}

.page-link {
    border-bottom: 3px solid #d3d3d3;
}

.page-item.active .page-link {
    border-bottom: 3px solid #a22724;
}

.breadcrumb {
    border-bottom: 3px solid #d5d5d5;
}

.badge-primary {
    border-bottom: 3px solid #a32724;
    margin-right: 5px;
}

ul.l-menu-feasts {
    position: relative;
    max-height: 130px;
    width: 100%;
    overflow: hidden;
    transition: max-height 2s ease-in-out;

    &.show {
        max-height: 100%;

        .btn-more {
            display: none;
        }
    }

    .btn-more {
        position: absolute;
        bottom: -5px;
        background: linear-gradient(to bottom, rgba(237, 237, 237, 0) 0%, #f8fafc 100%);
        display: flex;
        justify-content: center;

        & > span {
            position: relative;
            right: 20px;
            cursor: pointer;
        }
    }

    & > li {
        border-bottom: none;
        background: transparent;
        padding: 7px 0 !important;
        font-size: 13px;

        a {
            background: transparent;
            border-bottom: none !important;
            padding: 0 !important;
        }
    }

    & > li.current li a, & > li.current li {
        font-weight: 700;
        color: #e3342f;
        font-size: 13px;

        &:first-letter {
            text-transform: uppercase;
        }
    }

    & > li li {
        font-weight: 700;
        color: #7d8083;

        &:first-letter {
            text-transform: uppercase;
        }

        a {
            color: #1b1e21;
        }
    }

    .badge, .badge + ul {
        float: left;
    }
}

.category-item {
    width: 230px;
    float: left;

    &.shadow {
        box-shadow: none !important;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-bottom: 3px solid #d3d3d3;
        border-radius: 10px;
        margin-right: 10px;
    }
}

.shadow {
    box-shadow: none !important;
    border-bottom: 3px solid #a22724;
}

.card {
    .h4 {
        text-shadow: 0px 2px 0px #a22724;
    }
}
